# discord
BOT_TOKEN="your-discord-bot-token"
LOG_WEBHOOK="https://discord.com/api/webhooks/..."

# turso
TURSO_DATABASE_URL="libsql://your-database-name-your-org.turso.io"
TURSO_AUTH_TOKEN="your-turso-auth-token"



HEALTH_PORT = "Your health port"